{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h3>Game Selector</h3>
	<div class="container-fluid">
		<div id="app">
			<div class="row">
				<div class="col-sm-3">
					<h5>Filter Options</h5>
					<div class="row form-group">
						<div class="col-sm-10 col-sm-offset-1">
							<select class="form-control" @change="addFilter">
								<option disabled selected value="">Add Filter</option>
								<option v-for="(filterOpts, filter) in filters"
										:value="filter"
										v-if="!filterOpts.shown">${ filterOpts.name }</option>
							</select>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.expansions.shown">
						<div class="row">
							<label class="col-sm-5">
								Exclude Expansions
							</label>
							<div class="col-sm-6">
								<div class="togglebutton">
								    <label>
								      Off
								      <input type="checkbox" id="expansions" @change="changeExpansions">
								      <span class="toggle"></span>
								      On
								    </label>
								</div>
							</div>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('expansions')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.players.shown">
						<div class="row">
							<label class="col-sm-11">
								Player Count  (${ playerCount })
							</label>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('players')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="slider shor">
									<slider :slider-value="filters.players.value" 
										:slider-min="1" 
										:slider-max="endPlayerCount" 
										:slider-step="1" 
										v-on:updated="updateSlider('players',$event)"></slider>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.playing_time.shown">
						<div class="row">
							<label class="col-sm-11">
								Playing Time  (${ playTime })
							</label>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('playing_time')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="slider shor">
									<slider :slider-value="filters.playing_time.value" 
										:slider-min="0" 
										:slider-max="endPlayTime" 
										:slider-step="15" 
										v-on:updated="updateSlider('playing_time', $event)"></slider>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.weight.shown">
						<div class="row">
							<label class="col-sm-11">
								Boardgame Weight (${ gameWeight })
							</label>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('weight')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="slider shor">
									<slider :slider-value="filters.weight.value" 
										:slider-min="0" 
										:slider-max="5" 
										:slider-step=".2" 
										v-on:updated="updateSlider('weight', $event)"></slider>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.rating.shown">
						<div class="row">
							<label class="col-sm-11">
								Boardgame Rating  (${ gameRate })
							</label>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('rating')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="slider shor">
									<slider :slider-value="filters.rating.value" 
										:slider-min="0" 
										:slider-max="10" 
										:slider-step=".5" 
										v-on:updated="updateSlider('rating', $event)"></slider>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.categories.shown">
						<div class="row">
							<div class="col-sm-11 form-group" style="margin:0 0;">
								<select class="form-control" @change="categorySelection">
										<option value="" disabled selected>Choose a category</option>
										<option :value="category" 
												v-for="category in categories">${ category }</option>
								</select>
							</div>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('categories')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row" v-for="category in filters.categories.active">
							<label class="col-sm-5">${ category }</label>
							<div class="togglebutton col-sm-4">
								<label>
								    <input type="checkbox" checked="" @change="toggleFilter('categories',category)">
								    <span class="toggle"></span>
								</label>
							</div>
							<div class="col-sm-2">
								<a href="#" 
										@click.prevent="removeFilterOption('categories',category)" >
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.mechanics.shown">
						<div class="row">
							<div class="col-sm-11 form-group" style="margin:0 0;">
								<select class="form-control" @change="mechanicSelection">
										<option value="" disabled selected>Choose a Mechanic</option>
										<option :value="mechanic" 
												v-for="mechanic in mechanics">${ mechanic }</option>
								</select>
							</div>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('mechanics')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row" v-for="mechanic in filters.mechanics.active">
							<label class="col-sm-5">${ mechanic }</label>
							<div class="togglebutton col-sm-4">
								<label>
								    <input type="checkbox" checked="" @change="toggleFilter('mechanics',mechanic)">
								    <span class="toggle"></span>
								</label>
							</div>
							<div class="col-sm-2">
								<a href="#" @click.prevent="removeFilterOption('mechanics',mechanic)">
										<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
					</div>
					<div class="well well-sm" v-if="filters.suggested.shown">
						<div class="row">
							<div class="col-sm-11">
								<label>(Poll) Number of Players</label>
							</div>
							<div class="col-sm-1">
								<a href="#" 
									@click.prevent="removeFilter('suggested')" 
									class="pull-right">
									<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span></a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>At least</label>
							</div>
							<div class="col-sm-3 form-group" style="margin:0 0;">
								<select class="form-control" 
										v-model="filters.suggested.percent"
										@change="computeHidden">
									<option v-for="n in 10" 
										:value="n*10">${ n*10 }%</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label> of voters</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label>voted</label>
							</div>
							<div class="col-sm-9 form-group" style="margin:0 0;">
								<select class="form-control" 
										v-model="filters.suggested.rate"
										@change="computeHidden">
									<option value="best">Best</option>
									<option value="bestorrec">Best or Recommended</option>
									<option value="not">Not Recommended</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label>with </label>
							</div>
							<div class="col-sm-4">
								<input type="text" class="form-control" 
										v-model="filters.suggested.players"
										@change="computeHidden">
							</div>
							<div class="col-sm-3">
								<label> players</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							BoardGame Count shown: ${ games.length - hidden.length } of ${ games.length }
						</div>
					</div>
					<div class="flex-container row">
						<div class="col-sm-3" v-for="game in games" v-if="_.indexOf(hidden, game.id) == -1">
							<a href="#">
								<img :src="game.thumbnail" />
							</a><br />
							<label>${ game.name }</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		new Vue({
			delimiters: ['${', '}'],
			el: '#app',
			data: {
				games: {{ games|safe }},
				filters: {
					expansions: {
						name: 'Exclude Expansions',
						shown: false,
						value: true,
					},
					players: {
						name: 'Player Count',
						shown: false,
						value: [1,10],
					},
					playing_time: {
						name: 'Playing Time',
						shown: false,
						value: [0, 300],
					},
					weight: {
						name: 'Game Weight',
						shown: false,
						value: [0, 5],
					},
					rating: {
						name: 'Game Rating',
						shown: false,
						value: [0, 10],
					},
					categories: {
						name: 'Categories',
						shown: false,
						active: [],
						excluded: [],
					},
					mechanics: {
						name: 'Mechanics',
						shown: false,
						active: [],
						excluded: [],
					},
					suggested: {
						name: 'Suggested Player (poll)',
						shown: false,
						percent: 10,
						rate: 'best',
						players: 4,
					}
				},
				endPlayerCount:10,
				endPlayTime: 300,
				hidden: [],
			},
			methods: {
				addFilter: function(event) {
					value = event.target.value;
					this.filters[value].shown = true;
					event.target.value = '';
					this.computeHidden();
				},
				removeFilter:function(filter) {
					this.filters[filter].shown = false;
					this.computeHidden();
				},
				checkExpansions: function(game) {
					// If Game is an expansion and the expansion filter has been added
					// as well if the expansion fiter is on
					if(this.filters.expansions.shown && 
						!this.filters.expansions.value && game.expansion) {
						return true;
					}
					return false
				},
				checkPlayers: function(game) {
					if(!this.filters.players.shown) {
						return false
					}
					// If minimum required players is greater than the max filtered
					if(game.min_players > this.filters.players.value[1] 
						&& this.filters.players.value[1] != this.endPlayerCount) {
						return true;
					}
					if(game.max_players < this.filters.players.value[0]) {
						return true;
					}
					return false;
				},
				checkRating: function(game) {
					if(!this.filters.rating.shown) {
						return false
					}

					if(game.rating_bayes_average > this.filters.rating.value[1]
						|| game.rating_bayes_average < this.filters.rating.value[0]) {
						return true;
					}

					return false;
				},
				checkWeight: function(game) {
					if(!this.filters.weight.shown) {
						return false
					}

					if(game.rating_average_weight > this.filters.weight.value[1]
						|| game.rating_average_weight < this.filters.weight.value[0]) {
						return true;
					}

					return false;
				},
				checkPlayingTime: function(game) {
					if(!this.filters.playing_time.shown) {
						return false
					}

					if(game.min_playing_time > this.filters.playing_time.value[1] 
						&& this.filters.playing_time.value[1] != this.endPlayTime) {
						return true;
					}
					if(game.max_playing_time < this.filters.playing_time.value[0]) {
						return true;
					}

					return false;
				},
				checkCategories: function(game) {
					if(!this.filters.categories.shown) {
						return false
					}

					// If game has categories in the exclude categories list
					if(_.intersection(game.categories, this.filters.categories.excluded).length) {
						return true;
					}
					// if categories have been specified that are not excluded 
					// then only show those with those categories
					if(!_.intersection(game.categories, this.filters.categories.active).length 
						&& this.filters.categories.active.length != this.filters.categories.excluded.length) {
						return true;
					}

					return false;
				},
				checkMechanics: function(game) {
					if(!this.filters.players.shown) {
						return false
					}

					// If game has mechanics in the exclude mechanics list
					if(_.intersection(game.mechanics, this.filters.mechanics.excluded).length) {
						return true;
					}
					// if mechanics have been specified that are not excluded 
					// then only show those with those mechanics
					if(!_.intersection(game.mechanics, this.filters.mechanics.active).length 
						&& this.filters.mechanics.active.length != this.filters.mechanics.excluded.length) {
						return true;
					}

					return false;
				},
				checkSuggestions: function(game) {
					if(!this.filters.suggested.shown) {
						return false
					}

					vm = this;
					has_valid_suggestion = false;
					_.each(game.player_suggestions, function(suggestion, index, player_suggestions) {
						if(suggestion.numeric_player_count == vm.filters.suggested.players) {
							total = suggestion.best + suggestion.recommended + suggestion.not_recommended;
							percent = 0;
							if(vm.filters.suggested.rate == 'best') {
								percent = (suggestion.best/total)*100;
							} else if(vm.filters.suggested.rate == 'bestorrec') {
								percent = ((suggestion.best + suggestion.recommended)/total)*100;
							} else {
								percent = (suggestion.not_recommended/total)*100;
							}
							if(percent >= vm.filters.suggested.percent) {
								has_valid_suggestion = true;
							}
						}
					});
					if(!has_valid_suggestion) {
						return true;
					}

					return false;
				},
				checkhidden: function(game) {
					if(this.checkExpansions(game)) {
						return true;
					}
					if(this.checkPlayers(game)) {
						return true;
					}
					if(this.checkRating(game)) {
						return true;
					}
					if(this.checkWeight(game)) {
						return true;
					}
					if(this.checkPlayingTime(game)) {
						return true;
					}
					if(this.checkCategories(game)) {
						return true;
					}
					if(this.checkMechanics(game)) {
						return true;
					}
					if(this.checkSuggestions(game)) {
						return true;
					}

					return false;
				},
				changeExpansions: function() {
					this.filters.expansions = !this.filters.expansions;
					this.computeHidden()
				},
				computeHidden: function() {
					this.hidden = [];
					vm = this;
					_.each(this.games, function(game, index, games) {
						if(vm.checkhidden(game)) {
							vm.hidden.push(game.id);
						}
					});
				},
				updateSlider: function(filter,value) {
					this.filters[filter].value = value;
					this.computeHidden();
				},
				toggleFilter: function(filter, value) {
					indexCat = _.indexOf(this.filters[filter].excluded, value);
					if(indexCat != -1) {
						this.filters[filter].excluded.splice(indexCat, 1);
					} else {
						this.filters[filter].excluded.push(value);
					}
					this.computeHidden()
				},
				removeFilterOption: function(filter, value) {
					indexCat = _.indexOf(this.filters[filter].excluded, value);
					if(indexCat != -1) {
						this.filters[filter].excluded.splice(indexCat, 1);
					}
					indexCat = _.indexOf(this.filters[filter].active, value);
					if(indexCat != -1) {
						this.filters[filter].active.splice(indexCat, 1);
					}
					this.computeHidden();
				},
				categorySelection: function(event) {
					value = event.target.value;
					event.target.value = '';
					this.filters.categories.active.push(value)
					this.computeHidden()
				},
				mechanicSelection: function(event) {
					value = event.target.value;
					event.target.value = '';
					this.filters.mechanics.active.push(value)
					this.computeHidden()
				},
			},
			computed: {
				playerCount: function() {
					countStr = this.filters.players.value[0] + ' To ' + this.filters.players.value[1];
					if(this.filters.players.value[1] == this.endPlayerCount) {
						countStr += '+'
					}
					return countStr;
				},
				playTime: function() {
					countStr = this.filters.playing_time.value[0] + ' To ' + this.filters.playing_time.value[1];
					if(this.filters.playing_time.value[1] == this.endPlayTime) {
						countStr += '+'
					}
					return countStr;
				},
				gameWeight: function() {
					countStr = this.filters.weight.value[0] + ' To ' + this.filters.weight.value[1];
					return countStr;
				},
				gameRate: function() {
					countStr = this.filters.rating.value[0] + ' To ' + this.filters.rating.value[1];
					return countStr;
				},
				categories: function() {
					cats = [];
					_.each(this.games, function(game, index, games) {
						_.each(game.categories, function(category, f, categories) {
							if(_.indexOf(cats, category) == -1) {
								cats.push(category);
							}
						});
					});
					cats.sort()
					return cats;
				},
				mechanics: function() {
					cats = [];
					_.each(this.games, function(game, index, games) {
						_.each(game.mechanics, function(category, f, mechanics) {
							if(_.indexOf(cats, category) == -1) {
								cats.push(category);
							}
						});
					});
					cats.sort()
					return cats;
				}
			}
		});
	</script>
{% endblock %}